html {
  @apply text-[16px] md:text-[1.9vw] xl:text-[1.1vw]; /* for fluid design */
}

body {
  @apply antialiased font-primary;
  -webkit-font-feature-settings: 'liga' 0;
  font-feature-settings: 'liga' 0;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
}
